body {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 400px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.message {
    font-size: 18px;
    margin-bottom: 20px;
}

.instruction {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}

.screenshot {
    max-width: 80%;
    margin-bottom: 20px;
}

.note {
    font-style: italic;
    font-size: 14px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.language-toggle {
    display: flex;
    flex-direction: 'row';
    justify-content: space-around;
    align-items: center;
}

.language-text {
    font-size: 15px;
}

.space {
    margin-top: 10px;
    margin-bottom: 10px;
}